@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --dark: #222222;
  --light: #fff;
  --accent: #ed7d3a;
  --green: #3c7a6f;

  --fw-200: 200;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --padding-inline: 70px;

  --large-max-width: 1440px;
}

.page-wrapper {
  min-width: 100vw;
  min-height: max-content;
}

.wrapper-default {
  padding-inline: var(--padding-inline);
}
.container-default {
  max-width: var(--large-max-width);
  margin-inline: auto;
  font-family: "Roboto", sans-serif;
}

.primary-heading {
  font-size: 64px;
  font-weight: var(--fw-500);
  text-transform: uppercase;
  line-height: 83.2px;
  letter-spacing: 0em;
}

.secondary-heading {
  font-size: 24px;
  font-weight: var(--fw-700);
}

.primary-text {
  font-size: 25px;
}

.italic-text {
  font-size: 25px;
  font-style: italic;
  color: #afafaf;
}

.App {
  font-family: "Roboto", sans-serif;
  position: relative;
}

button {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  background-color: var(--accent);
  color: #fff;
  font-size: 26px;
  padding-block: 13px;
  padding-inline: 109px;
  width: max-content;
  height: 60px;
  line-height: 33.8px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--green);
    box-shadow: 0px 4px 45px 0px #2edd8d80;
  }

  &:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #24dc8f;
  }
}

.error-text-active {
  position: absolute;
  bottom: -28px;
  left: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #d82650;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media (max-width: 1000px) {
  :root {
    --padding-inline: 40px;
  }
  .primary-heading {
    font-size: 50px !important;
    line-height: 65px !important;
  }

  .primary-text,
  .italic-text {
    font-size: 22px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .primary-heading {
    line-height: 58.5px !important;
    font-size: 45px !important;
  }
  .primary-text,
  .italic-text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  :root {
    --padding-inline: 20px;
  }
  .primary-heading {
    line-height: 49.4px !important;
    font-size: 38px !important;
  }
  .primary-text,
  .italic-text {
    font-size: 18px;
    line-height: 25px;
  }
}
